* {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url(img/earth-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header h1 {
    cursor: pointer;
}

nav {
    display: flex;
    gap: 20px;
    
}

nav a {
    text-decoration: none;
    font-weight: normal;
    font-size: 1.1rem;
    transition: ease-in-out 0.1s;
}

nav a:hover {
    color: whitesmoke;
}

#registerBtn, #loginBtn {
    padding: 10px;
    width: 110px;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    font-size: 1.1rem;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    box-shadow: 0 2px 12px 0 rgba(255,255,255,0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifbg button {
    padding: 10px;
    width: 110px;
    border: 2px solid black;
    border-radius: 10px;
    background: black;
    font-size: 1.1rem;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    box-shadow: 0 2px 12px 0 rgba(255,255,255,0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#registerBtn:hover, #loginBtn:hover {
    background-color: white;
    color: black;
}

.notifbg-yes button:hover {
    background-color: white;
    color: black;
}

.login, .register  {
    width: fit-content;
    margin: auto;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.efek {
    animation: forwards 0.3s efek ease-in-out;
}

@keyframes efek {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

input {
    width: 220px;
    padding: 10px;
    margin: 2px 0;
    border-radius: 10px;
    border: 1px;
    box-shadow: 0 2px 12px 0 rgba(255,255,255,0.2);
    color: black;
}

input:focus {
    outline: none;
    box-shadow: 0 0 8px 2px rgba(255,255,255,0.5);
    border-color: white;
    }

.formBtn {
    padding: 8px;
    color: black;
    background-color: white;
    border: 2px solid white;
    box-shadow: 0 2px 12px 0 rgba(255,255,255,0.2);
    border-radius: 10px;
    width: 110px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    font-size: 0.9rem;
}

.formBtn:hover {
    box-shadow: none;
    transform: scale(0.98);
}

#toRegister, #toLogin {
    text-decoration: underline;
    cursor: pointer;
}

.validation {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: red;
}

.register{display: none;}
#loginBtn{display: none;}

.notifbg {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

.notif img {
    width: 50px;
}

.notif {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 32px 0 rgba(255,255,255,0.15);
    color: black;
}

.notif h3, .notif p {
    color: black;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 700px) {
    nav {
        display: none;
    }
}